#edit {
	padding: 20px;

	#edit-controls {
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 0;
		transform: translate3d(0, 0, 0);
		transition: opacity 300ms ease;
		z-index: 3;

		&:hover, &:focus {
			outline: none;
			opacity: 1;
		}
	}

	#edit-workspace {
		margin: 0 auto;
		max-width: 1200px;
		overflow: hidden;
		position: relative;
		width: 100%;

		&-gabby {
			top: 100%;
			//height: 0;
			position: absolute;
			right: 0;
			transform: translate3d(0, -86.33400%, 0);
			width: 33%;
			z-index: 2;

			img {
				left: 0;
				position: absolute;
				top: 0;
			}

			&:before {
				content: "";
				display: block;
				padding-bottom: 100%;
			}
		}

		&-image {
			position: relative;
			z-index: 1;
		}

		img {
			display: block;
			height: auto;
			-webkit-user-drag: none;
			user-drag: none;
			width: 100%;
		}
	}
}