extends layout

block content
	.no-js
		p This page requires Javascript.
		p As an alternative, please feel free to download this picture of Gabby and apply it to any other photo.
		img(src="/img/gabby.png" alt="Picture of Gabby")

	ig-app
