ig-gabby {
	padding: 20px;

	#edit-workspace {
		margin: 0 auto 20px;
		max-width: 500px;
		overflow: hidden;
		position: relative;
		width: 100%;
	}

	#edit-controls {
		position: absolute;
		right: 0;
		top: 0;
	}

	#edit-workspace-image {
		background-size: cover;
		background-position: center;
		width: 100%;

		&:before {
			content: "";
			display: block;
			padding-bottom: 100%;
		}
	}

	#edit-workspace-gabby {
		bottom: 0;
		right: 0;
		position: absolute;

		img {
			user-select: none;
			-webkit-user-drag: none;
			apple-user-drag: none;
			khtml-user-drag: none;
		}
	}

	#edit-download {
		display: block;
		margin: 0 auto 2rem;
	}
}