#edit-workspace
	#edit-controls(tabindex="0")
		.edit-controls-field
			label(for="edit-controls-scale") Size
			input#edit-controls-scale(type="range", min="0", max="100", value="33")
		.edit-controls-field
			label(for="edit-controls-rotate") Rotation
			input#edit-controls-rotate(type="range", min="0", max="360", value="0")
	#edit-workspace-image
	#edit-workspace-gabby
		img(src="/img/gabby.png", alt="gabby")
button#edit-download(type="button") Download Image