ig-app {
	@extend %fill;
	overflow: hidden;

	.intro-overlay {
		@extend %fill;
		align-items: center;
		background: #fff;
		display: flex;
		flex-flow: column;
		justify-content: center;
		position: fixed;
		z-index: 10;

		svg {
			display: block;
			height: 150px;
			width: 150px;
		}

		&.hidden {
			animation: fadeOut 500ms ease 1500ms;
			animation-fill-mode: forwards;
			
			svg {
				animation: fadeOut 500ms ease 1000ms;
				animation-fill-mode: forwards;
			}
		}
	}

	.loading-overlay {
		@extend %fill;
		background: #fff;
		display: none;
		opacity: 0;
		top: 75px;
		z-index: 3;

		&-progress {
			border: 1px solid #dbdbdb;
			border-radius: 3px;
			box-sizing: border-box;
			height: 12px;
			margin: 20vh auto 10px;
			max-width: 20rem;
			overflow: hidden;
			padding: 1px;
			position: relative;
			width: 80%;

			&-inner {
				background: #c737aa;
				background: linear-gradient(to right, #3f6ac8 0%, #c737aa 30%, #c737aa 50%, #e34673 60%, #fc5342 80%, #fedc55 100%);
				border-radius: 3px;
				height: 100%;
				width: 100%;
			}

			&-innercover {
				background: #fff;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				bottom: 0;
				transition: all $animationSpeed ease;
			}
		}

		&-noprogress {
			@extend %fill;
			align-items: center;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;

			svg {
				animation: 1s rotate linear infinite;
				height: 100px;
				width: 100px;
			}
		}

		&.visible {
			animation: $animationSpeed fadeIn 200ms ease;
			animation-fill-mode: forwards;
			display: block;
			opacity: 0;
		}
	}
}