.loading-overlay(ng-class="{'visible': $ctrl.ui.loading}")
//.intro-overlay(ng-class="{'hidden': $ctrl.ui.showIntro}", aria-hidden="true")
	svg(viewBox="0 0 512 512")
		use(xlink:href="#app_icon")

header
	h1
		a(href='/') 
			svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='-213 415 183.3547974 35.5499573', enable-background='new -213 415 183.3547974 35.5499573', xml:space='preserve')
				g
					path(fill='#FFFFFF', d='M-141.1934509,431.9500122')
					path(fill='#010101', d='M-140.1934509,442.9500122c1,1.2000122,3.3999939-1.5,3.7000122-4.2000122\
					c0.2999878-2.7000122,0.3999939-18,0.1999817-18.3999939c-0.1999817-0.3999939-1.3999939-1.3999939-2.6000061-1.1000061\
					s-5.8999939,3.5-5.8999939,8.2999878c0,3.6000061,3,4.7999878,3.6000061,4.5\
					c0.6000061-0.3999939-1.6000061-0.8999939-1.1000061-4.5c0.3999939-3.7000122,3.1000061-6.3999939,3.1000061-6.3999939\
					s0.6000061,17.8999939-0.3999939,20.2999878C-139.9934387,442.3500061-140.4934387,442.6499939-140.1934509,442.9500122z')
				g
					path(fill='#010101', d='M-60.5934448,425.8500061C-62.3934441,425.75-63.4934464,429.25-63.4934464,429.25\
					c0-10,1-8.7000122,1-9.3999939c0-0.6000061-3.3000031-1.2999878-3.4000015-0.6000061\
					c-0.0999985,0.7000122,0,11.6000061-0.0999985,13.7000122L-66.0934448,435.25\
					c-0.1999969,1.1000061-0.8000031,3.7000122-1.5999985,3.7000122c-1.0999985,0-1.1999969-2-1.1999969-2\
					s0.3000031-9.1000061-0.1999969-9.7000122s-2.1999969-0.6000061-2.4000015-0.5s-0.1999969,1.2000122-0.1999969,1.2000122\
					c-0.4000015-0.6000061-1.5999985-1.6000061-2.5999985-1.6000061c-3.6999969,0-4.4000015,5.2999878-4.4000015,6.7000122\
					c0,0.3999939,0,0.8999939,0,1.3999939V434.75c-0.1999969,0.6000061-0.6999969,1.5-1.4000015,2.2999878\
					c0-4.7000122,0-9.6000061-0.0999985-9.8999939c-0.1999969-0.5-2.1999969-0.7999878-2.4000015-0.7999878\
					s-0.0999985,1.6000061-0.0999985,1.6000061s-0.5-2-3-1.8999939c-2.4000015,0.2000122-3.6999969,3.5-4.0999985,5.2999878\
					s-0.1999969,5.2999878-0.1999969,5.2999878s-0.9000015,2.2000122-1.8000031,2.2000122s-1.1999969-1.8999939-1.1999969-1.8999939\
					s0.0999985-9.3999939-0.1999969-9.7000122s-2-0.6000061-2.3000031-0.5s-0.4000015,1-0.4000015,1\
					c-0.1999969-0.5-1.4000015-1.7000122-2.5999985-1.6000061c-3.5,0.2000122-4.4000015,5.7000122-4.4000015,6.2000122\
					s-0.0999985,2.2999878-0.0999985,2.2999878s-0.9000015,3.6000061-2.8000031,3.7999878\
					c-1.9000015,0.2000122-1-12.7000122-1-12.7000122s3.6999969,0.3999939,4,0c0.1999969-0.3999939,0.5-1.6000061,0.4000015-1.8999939\
					c-0.1999969-0.2999878-4.0999985-0.2000122-4.0999985-0.2000122s0.1999969-3.3999939,0-3.7000122\
					c-0.1999969-0.2999878-1.8000031-1-2.4000015-0.8999939s-0.6999969,0.7000122-0.6999969,0.7000122l0.1999969,3.6000061h-3.4000015\
					c-0.6999969,0.8999939-0.5,2.2999878-0.5,2.2999878h3.5c0,0,0.1999969,6.2000122,0.0999985,7.6000061\
					c-0.1999969,1.2999878-2.4000015,3.8999939-2.4000015,3.8999939c1.0999985-3-4.4000015-6.5-4.4000015-6.5\
					c1.8000031-2.2000122,1.9000015-4.2999878,0.6999969-4.2999878c-1.1999969,0-2.5999985,0.1000061-3.5,1.8999939\
					s0.5999985,3,0.5999985,3s-3.4000015,6.2000122-4.4000015,6.3999939\
					c-1.0999985,0.2000122-0.1999969-9.2999878-0.1999969-9.7000122c-0.0999985-0.5-1.9000015-1.7000122-2.6999969-1.5\
					c-2.6000061,0.7999878-4.7999878,7.2999878-4.7999878,7.2999878l-0.1000061-6.7999878\
					c-1.2000122-0.6000061-2.3000183-0.3999939-2.3000183-0.2999878c-0.1999817,0.7999878,0,12.5,0,13.2000122\
					c0,0.7999878,2.6000061,0.8999939,2.6000061-0.2000122c-0.1999817-6,4.4000092-11.7999878,4.6000061-10.7999878\
					c0.9000015,3.8999939-0.9000015,11.1000061,1.6999969,11.3999939s6.5-8.1000061,6.5-8.1000061\
					c2.5999985,1.7999878,3.4000015,3.7000122,3.4000015,4.1000061c0,0.2999878,0.1999969,1.8999939-1.1999969,2.2000122\
					c-1.4000015,0.2999878-2.3000031-1.1000061-2.8000031-1.1000061s-1.6999969,1.5-1.1999969,1.8999939\
					c0.5,0.5,2.5999985,1.1000061,4.1999969,1.1000061c3.6999969,0,5.8000031-5.1000061,5.8000031-5.1000061\
					c0.1999969,1.3999939,1.1999969,4.7999878,3.4000015,5.1000061c2.1999969,0.2000122,3.6999969-3.5,3.6999969-3.5\
					c0.1999969,0.6000061,1.3000031,3.2000122,3.6999969,3.3999939c2.4000015,0.2000122,3.8000031-2.7000122,3.8000031-2.7000122\
					s0.8000031,2.3999939,2.6999969,2.7999878c1.9000015,0.3999939,3.0999985-2.3999939,3.0999985-2.3999939\
					c0.5999985,1.7000122,1.9000015,2.2999878,3.1999969,2.5c1.9000015,0.2000122,3.5-2.1000061,3.5-2.1000061l0.0999985,1.2000122\
					c-4.0999985,3.7000122-5.9000015,5.2999878-5.8000031,7.2999878c0,0.7000122,0.3000031,3.7000122,3.9000015,3.7000122\
					s4.1999969-4.3999939,4.4000015-5.1000061c0.0999985-0.2999878,0.0999985-3.1000061,0.0999985-6.5l1.5-1.7999878\
					c0.1999969,0.5,0.4000015,0.8999939,0.4000015,0.8999939s0.6999969,1.8999939,3,2.1000061\
					c2.8000031,0.2000122,4-2.7999878,4-2.7999878s0.9000015,2.8999939,2.8000031,3c1.3000031,0,2.0999985-0.8999939,2.5-1.8999939\
					c0.0999985,0.7999878,0.4000015,1.6000061,0.8000031,1.6000061c1,0,1.2000008-0.5,1.2000008-0.5s1.2000008,0.7000122,3,0.7000122\
					c4.2999992,0.1000061,4.4000015-4.3999939,4.4000015-6.3999939\
					C-56.4934425,426.8500061-58.8934441,425.9500122-60.5934448,425.8500061z M-95.8934402,433.9500122\
					c-0.4000015,4.7999878-1.9000015,4.8999939-2.5999985,4.8999939s-2.3000031-1.3999939-1.9000015-5.3999939\
					c0.5-4,1.5999985-5,2.4000015-5C-96.7934418,428.4500122-95.4934464,429.1499939-95.8934402,433.9500122z\
					M-85.5934448,438.8500061c-1.8000031,0-1.6999969-3-1.6999969-4.8999939s0.5999985-5.2000122,2.3000031-5.3999939\
					c0.9000015-0.1000061,2.3000031,0.7999878,2.1999969,4.3999939\
					C-82.8934402,436.5499878-83.7934418,438.8500061-85.5934448,438.8500061z M-82.7934418,447.0499878\
					c-0.1999969,3.2999878-3.9000015,3.2000122-3.9000015,0.6000061s4.0999985-6,4.0999985-6\
					S-82.4934464,443.75-82.7934418,447.0499878z M-71.5934448,433.6499939\
					C-71.7934418,437.3500061-72.7934418,438.75-74.1934433,438.75s-2.1999969-2.5-1.9000015-5.5\
					c0.3000031-3.2000122,1.1999969-5,2.3000031-4.8999939C-72.4934464,428.4500122-71.4934464,429.8500061-71.5934448,433.6499939z\
					M-58.8934441,434.0499878c-0.5,4.6000061-2.4000015,4.8999939-3,4.8999939s-1.5999985-0.7000122-1.5999985-0.7000122\
					s-0.0999985-9.8999939,2.7000008-10.3999939C-60.1934433,427.6499939-58.3934441,429.4500122-58.8934441,434.0499878z')
					path(fill='#010101', d='M-29.9934425,433.3500061c-0.2999992-0.1000061-0.6000004,0.1000061-1,1.2000122\
					c-0.2999992,0.7000122-0.7000008,1.5-1.4000015,2.2999878c0-4.7000122,0-9.6000061-0.0999985-9.8999939\
					c-0.2000008-0.5-2.2000008-0.7999878-2.4000015-0.7999878s-0.0999985,1.6000061-0.0999985,1.6000061v4.7999878\
					c-0.0999985,3.6000061-1,5.8999939-2.7999992,5.8999939s-1.9000015-2.8999939-1.9000015-4.8999939\
					c0.2000008-4.2000122,1.0999985-7,1-7.1000061c-0.7000008-0.5-2-0.6000061-2.2000008-0.5\
					c-0.2999992,0.1000061-1.0999985,5.2000122-1.0999985,5.2000122c-0.4000015,1.7999878-0.2999992,3.7999878-0.2999992,3.7999878\
					s-0.2999992,3.6000061-1.7000008,3.7000122c-0.5999985,0-1-0.8999939-1.0999985-1.5\
					c0.2999992-1.2000122,0.4000015-2.3999939,0.4000015-3.2000122c0-7.2000122-2.4000015-8.2000122-4.0999985-8.2000122\
					c-1.7999992-0.1000061-2.9000015,3.3999939-2.9000015,3.3999939c0-10,1-8.7000122,1-9.3999939\
					c0-0.6000061-3.2999992-1.2999878-3.4000015-0.6000061c-0.0999985,0.7000122,0,11.6000061-0.0999985,13.7000122l-0.0999985,3\
					c0,0-0.0999985,4.2999878,0.9000015,4.2999878s1.2000008-0.5,1.2000008-0.5s1.2000008,0.7000122,3,0.7000122\
					c1.5,0.1000061,2.5-0.5,3.0999985-1.2999878c0.0999985,0.2999878,0.5999985,1,1.2999992,1.1000061\
					c2.5999985,0,2.9000015-3,2.9000015-3c0.7000008,2.6000061,2.0999985,3,3.4000015,3.1000061\
					c1.9000015,0.2000122,3.5-2.1000061,3.5-2.1000061l0.0999985,1.2000122\
					c-4.0999985,3.7000122-5.9000015,5.2999878-5.7999992,7.2999878c0,0.7000122,0.2999992,3.7000122,3.9000015,3.7000122\
					c3.5999985,0,4.2000008-4.3999939,4.4000015-5.1000061c0.0999985-0.2999878,0.0999985-3.1000061,0.0999985-6.5l1.5-1.7999878\
					C-29.6934433,435.25-29.2934437,433.6499939-29.9934425,433.3500061z M-47.3934441,434.0499878\
					c-0.5,4.6000061-2.4000015,4.8999939-3,4.8999939s-1.5999985-0.7000122-1.5999985-0.7000122\
					s-0.0999985-9.8999939,2.7000008-10.3999939C-48.5934448,427.6499939-46.8934441,429.4500122-47.3934441,434.0499878z\
					M-35.0934448,446.75c-0.2000008,3.2999878-3.9000015,3.2000122-3.9000015,0.6000061s4.0999985-6,4.0999985-6\
					S-34.7934418,443.4500122-35.0934448,446.75z')
					path(fill='#010101', d='M-65.8934402,436.1499939')
					path(fill='#010101', d='M-57.4934425,437.8500061c0,0,0.2000008,1.2000122,1.2000008,0.8999939\
					c1.2999992-0.3999939,1.7999992-2.2000122,1.7999992-3.7000122l0.2999992,2.8999939c0,0-1,2.3999939-2.2000008,2.3999939\
					c-1.2000008,0.1000061-2.2999992-0.8999939-2.2999992-0.8999939L-57.4934425,437.8500061z')
					path(d='M-162.0932617,446.7996216c-0.1381836,0-0.25-0.1123047-0.25-0.25v-31.2998047c0-0.1376953,0.1118164-0.25,0.25-0.25\
					s0.25,0.1123047,0.25,0.25v31.2998047C-161.8432617,446.6873169-161.9550781,446.7996216-162.0932617,446.7996216z')
				g
					circle(cx='-206.4124146', cy='424.1383972', r='1.7718185')
					path(d='M-190.477951,431.9369507c-0.044632-4.1491089-3.4213562-7.4989929-7.5810547-7.4989929\
					c-4.1874847,0-7.5821228,3.3946228-7.5821228,7.5821228c0,4.1874695,3.3946381,7.5820923,7.5821228,7.5820923\
					c1.8992004,0,3.6352692-0.6983032,4.9655609-1.8521423c-0.0041504,0.0930481-0.0085144,0.1893921-0.0131226,0.2903748\
					c-0.0656891,1.4395752-0.3062134,2.221405-0.5084076,2.7416992c-0.2678375,0.6891785-0.5878296,1.1810303-1.1044922,1.6976929\
					c-0.5166779,0.5166931-1.0085449,0.8366699-1.6977234,1.1044922c-0.5202942,0.2022095-1.302124,0.442749-2.7416992,0.5084229\
					c-0.138916,0.0063477-0.2690582,0.0122375-0.3938599,0.0177002v0.0136414\
					c-2.756958-0.0038452-3.2854309-0.0231018-4.648468-0.0852966c-1.4395752-0.0656738-2.221405-0.3062134-2.7416992-0.5083923\
					c-0.6891937-0.2678528-1.1810455-0.5878296-1.6977081-1.1044922s-0.8366699-1.0085449-1.1045074-1.6977234\
					c-0.1161041-0.2987671-0.2447968-0.684082-0.3458099-1.2303162h-2.6952209\
					c0.1220245,0.866333,0.3153076,1.5609741,0.5613098,2.1940002c0.3773346,0.9709167,0.8821869,1.794342,1.7030334,2.6152039\
					c0.8208618,0.8208618,1.6442871,1.3257141,2.6152191,1.7030334c0.939209,0.3650208,2.0124969,0.6145935,3.5841064,0.6863098\
					c1.5748596,0.0718689,2.0776672,0.0888367,6.0876465,0.0888367c0.2178345,0,0.4247131-0.0000305,0.6225739-0.0001526l0,0\
					c0.8706055-0.1219482,1.6310577-0.3238525,2.2493439-0.6105957c1.0110321-0.4688721,1.7037811-0.9926453,2.5246429-1.8134766\
					c0.8208313-0.8208618,1.3256989-1.6442871,1.7030334-2.6152039c0.3650055-0.9392395,0.6145935-2.0125122,0.6863098-3.584137\
					c0.0614929-1.3479919,0.0827942-1.9108887,0.0876617-4.5597229L-190.477951,431.9369507z M-198.0590057,436.9417725\
					c-2.7182007,0-4.9217224-2.2035217-4.9217224-4.9216919c0-2.7182007,2.2035217-4.9217224,4.9217224-4.9217224\
					c2.7181854,0,4.9217224,2.2035217,4.9217224,4.9217224C-193.1372833,434.7382507-195.3408203,436.9417725-198.0590057,436.9417725z\
					')
				g
					path(d='M-183.5585175,425.9324036c-0.0717163-1.5715942-0.3213043-2.6448975-0.6863098-3.5841064\
					c-0.3773346-0.9709167-0.8821869-1.794342-1.7030334-2.6152039c-0.8208618-0.8208618-1.6443024-1.3257141-2.6152191-1.7030334\
					c-0.9392242-0.3650208-2.0124969-0.6145935-3.5841064-0.6863098c-1.5748596-0.0718689-2.0776672-0.0888367-6.0876617-0.0888367\
					c-4.0099792,0-4.5127869,0.0169678-6.0876465,0.0888367c-1.5716095,0.0717163-2.6448975,0.3212891-3.5841064,0.6863098\
					c-0.970932,0.3773193-1.7943573,0.8821716-2.6152191,1.7030334c-0.8208466,0.8208618-1.3256989,1.6442871-1.7030334,2.6152039\
					c-0.3650055,0.939209-0.6146088,2.0125122-0.6863098,3.5841064C-212.983017,427.5072632-213,428.0100708-213,432.0200806\
					c0,4.0099792,0.016983,4.5127869,0.0888367,6.0876465c0.0084534,0.1853333,0.0195923,0.3632202,0.0328979,0.5353088h2.6702728\
					c-0.0192261-0.2024231-0.0347748-0.4205017-0.0455475-0.6565552c-0.0710297-1.5569763-0.0860748-2.0239258-0.0860748-5.9664001\
					s0.0150452-4.4094543,0.0860748-5.9664001c0.0656891-1.4395752,0.3062134-2.221405,0.5084076-2.7416687\
					c0.2678375-0.689209,0.5878296-1.1810608,1.1044769-1.6977234c0.5166931-0.5166931,1.0085449-0.8366699,1.6977386-1.1045227\
					c0.5202942-0.202179,1.302124-0.4427185,2.7416687-0.5083923c1.5569611-0.0710449,2.0239258-0.0860901,5.9664001-0.0860901\
					s4.4094543,0.0150452,5.9663849,0.0860901c1.4395752,0.0656738,2.221405,0.3062134,2.7416992,0.5083923\
					c0.6891785,0.2678528,1.1810455,0.5878296,1.6977081,1.1044922c0.5166779,0.5166931,0.8366699,1.0085449,1.1045074,1.6977539\
					c0.2021942,0.5202637,0.4427185,1.3020935,0.5084076,2.7416382c0.0710297,1.5569763,0.0860596,2.0239563,0.0860596,5.9664307\
					s-0.0150299,4.4094238-0.0860596,5.9663696c-0.0656891,1.4395752-0.3062134,2.221405-0.5084076,2.7416992\
					c-0.2678375,0.6891785-0.5878296,1.1810303-1.1044922,1.6976929c-0.5166779,0.5166931-1.0330048,0.7807007-1.6977234,1.1045227\
					c-0.4147034,0.2020264-0.6051941,0.2630615-1.4379883,0.4568787c-0.2218781,0.3019104-0.475174,0.5969238-0.7697144,0.8914795\
					c-0.8208618,0.8208313-1.5136108,1.3446045-2.5246429,1.8134766c-0.0627899,0.0291138-0.1274414,0.0571289-0.1931458,0.0845337\
					c1.3187866-0.0110474,1.301178-0.0345459,2.305069-0.0803528c1.5716095-0.0717163,2.6448822-0.3212891,3.5841064-0.6863098\
					c0.9709167-0.3773193,1.7943573-0.8821716,2.6152191-1.7030334c0.8208466-0.8208618,1.3256989-1.6442871,1.7030334-2.6152039\
					c0.3650055-0.939209,0.6145935-2.0125122,0.6863098-3.5841064c0.0718536-1.5748596,0.0888367-2.0776672,0.0888367-6.0876465\
					C-183.4696808,428.0100708-183.4866638,427.5072632-183.5585175,425.9324036z')

section#select(tabindex="0", ng-if="$ctrl.ui.step === 1")
	ig-select

section#crop(tabindex="0", ng-if="$ctrl.ui.step === 2")
	ig-crop

section#edit(tabindex="0", ng-if="$ctrl.ui.step === 3")
	ig-gabby

section#save(tabindex="0", ng-if="$ctrl.ui.step === 4")
	ig-save